# Editores
.idea/
.vscode/
.atom/
*.sublime-project

# Dependencias y Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración
.env*

# OS
.DS_Store
Thumbs.db
desktop.ini

frontend/build/
frontend/dist/
frontend/.cache/
frontend/.next/
frontend/out/
test-integration/api-tester/node_modules/
test-integration/containers/*.yml

# Backend (Node.js)
backend/api-auth/node_modules/
backend/api-auth/dist/
backend/api-core/node_modules/
backend/api-core/dist/
backend/api-gateway/node_modules/
backend/api-gateway/dist/
